[basics]
imapserver = "localhost"
login = "weeble"
password = "password"
matcher_sets = [
  [
    { Match = { From = " <root@stodi.digitalkingdom.org>$" } },
    { Match = { Subject = "^Cron " } },
  ],
  [
    { Match = { From = " <puppet_cron_stodi@digitalkingdom.org>$" } },
    { Match = { Subject = "^Cron " } },
  ],
  [
    { Match = { From = " <root@[a-z]+.digitalkingdom.org>$" } },
    { Match = { Subject = "^Daily duplicacy backup " } },
  ],
  [
    { Match = { From = " <rlpowell(.cron)?@digitalkingdom.org>$" } },
    { Match = { Subject = "^Cron " } },
    { UnMatch = { Subject = "pic_and_video_naming" } },
  ],
  [
    { Match = { Subject = "^Dmarc Aggregate Report Domain: .lojban.org." } },
  ],
]
