{
  imapserver: "localhost",
  login: "weeble",
  password: "password",
  matcher_sets: [
    {
      name: "Puppet Runs OK And At Least Once In The Past Day",
      matchers: [
        { Match: { From: " <root@" } },
        { Match: { Subject: "^Cron " } },
        { Match: { Subject: "puppet agent" } },
      ],
      checker_tree: {
        BodyCheck: {
          string: "Notice: Applied catalog in",
          matched: {
            DateCheck: {
              days: 1,
              older_than: {
                Action: "Delete"
              },
              younger_than: {
                CountCheck: {
                  count: 1,
                  greater_than: { Action: "Log" },
                  equal: { Action: "Log" },
                  less_than: { Action: "Alert" },
                },
              },
            },
          },
          not_matched: { Action: "Alert" },
        },
      },
    },
    // FIXME: Add at least one more
  ]
}
